* {
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	padding: 10px 0;
	text-align: center;
	background-color: cyan;
	width: 100%;
}

form {
	max-width: 500px;
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-group {
	width: 100%;
}

.form-control {
	width: 100%;
}

section {
	padding: 50px 10px;
	display: flex;
	justify-content: center;
}

table {
	border-collapse: collapse;
	max-width: 500px;
	width: 500px;
}

td {
	padding: 5px 10px;
	border-top: 1px solid rgba(0, 0, 0, .3);
	border-bottom: 1px solid rgba(0, 0, 0, .3);
}