* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	padding: 10px 0;
	text-align: center;
	background-color: cyan;
	width: 100%;
}

form {
	max-width: 500px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-inline: 20px;
}

.form-group {
	width: 100%;
	text-align: center;
	margin: 10px auto;
}

.form-control {
	width: 100%;
	padding: 10px;
	border-radius: 20px;
	border: 1px solid rgba(0, 0, 0, .3);
	font-size: 15pt;
	text-align: center;
}

.btn {
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, .3);
	cursor: pointer;
	font-weight: bold;

	&.btn-rounded {
		padding: 15px;
		border-radius: 20px;
	}

	&.btn-sm {
		padding: 10px;
		font-size: 10pt;
	}

	&[disabled] {
		opacity: .8;
		cursor: not-allowed;
	}
}

.btn-success { color: white; background-color: #28a745; }
.btn-info { color: white; background-color: #17a2b8; }
.btn-primary { color: white; background-color: #007bff; }
.btn-danger { color: white; background-color: #dc3545; }
.btn-warning { color: white; background-color: #ffc107; }

.text-left { text-align: left }
.text-center { text-align: center }
.text-right { text-align: right }

section {
	padding: 50px 20px;
	display: flex;
	justify-content: center;
}

table {
	border-collapse: collapse;
	max-width: 1000px;
	width: 100%;
}

th {
	padding: 5px 10px;
	text-align: left;
}

td {
	padding: 5px 10px;
	border-top: 1px solid rgba(0, 0, 0, .1);
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}