<!DOCTYPE html>
<html lang="pt-AO">
	<head>
		<title>DorivaTech » VueJS List ToDo</title>

		<!-- Meta Tags -->
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="author" content="DorivaTech" />
		<meta name="keywords" content="dorivatech" />
		<meta name="description" content="DorivaTech" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- link icon -->
		<link rel="shortcut icon" type="image/x-icon" href="favicon.png" />

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	
	<body>
		<main id="app">
			<header>
				<h1>Lista de Tarefas</h1>
				<form @submit.prevent.stop="(form.index || form.index == 0) ? update() : store()">
					<div class="form-group">
						<input type="text" v-model="form.task" class="form-control" placeholder="Tarefa" />
					</div>
					
					<div class="form-group">
						<button type="submit" class="btn btn-success btn-rounded">
							{{ (form.index || form.index == 0) ? 'Actualizar' : 'Adicionar' }}
						</button>
					</div>
				</form>
			</header>

			<section>
				<table>
					<thead>
						<tr>
							<th>ID</th>
							<th>Tarefa</th>
							<th class="text-center">Ações</th>
						</tr>
					</thead>

					<tbody>
						<tr v-for="(task, index) in tasks">
							<td>{{ index + 1 }}</td>
							<td>{{ task.task }}</td>
							<td class="text-center">
								<button @click.prevent.stop="edit(index)" class="btn btn-info btn-rounded btn-sm">Actualizar</button>
								<button @click.prevent.stop="update(index)" class="btn btn-warning btn-rounded btn-sm">Feito</button>
								<button @click.prevent.stop="destroy(index)" class="btn btn-danger btn-rounded btn-sm">Apagar</button>
							</td>
						</tr>

						<tr v-if="tasks.length <= 0">
							<td colspan="3" class="text-center">Sem tarefas</td>
						</tr>
					</tbody>
				</table>
			</section>
		</main>
		
		<!-- JS -->
		<script type="text/javascript" src="js/vue.min.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
	</body>
</html>